/* body {
  overflow: hidden;
} */

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Crete Round", serif;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 100% !important;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3c3a39;
    width: 100%;
  }

  .toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .toolbar a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
  }

  .menu-list {
    display: none;
  }

  .headline {
    background-color: #1c1a19;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    background-image: url("/img/Bg.png");
    background-repeat: no-repeat;
    background-size: 134px;
    background-position: bottom -45px right 0;
  }

  .PrimaryText {
    display: flex;
    flex-direction: column;
  }

  .PrimaryText h1 {
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    color: #ff6b00;
  }

  .PrimaryText h1,
  p {
    margin-left: 30px;
    margin-right: 30px;
  }

  .PrimaryText .title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 40px;
    color: #fff5e1;
  }

  .PrimaryText p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
  }

  .description br {
    content: " ";
  }

  .socialmedia {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
  }

  .socialmedia ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    list-style: none;
  }

  .socialmedia ul li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
  }

  .RecentWorks {
    background: #e5e5e5;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit);
    justify-content: center;
  }

  .RecentWorks .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    margin-top: 120px;
  }

  .title strong {
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #1c1a19;
  }

  hr {
    border: 1px solid #212121;
    width: 327px;
  }

  .RecentWorks .MultipostStories {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    margin-top: 80px;
  }

  .MultipostStories img {
    width: 448px;
    height: 330;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
  }

  .info .MultipostStories-heading {
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #091e42;
  }

  .info p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
  }

  .info ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    margin-left: 18px;
    gap: 12px;
  }

  .info ul li {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    background: #fff;
    border: 1px solid #8993a4;
  }

  .info button {
    padding: 12px 30px;
    margin-left: 30px;
    gap: 10px;
    background: #ff6b00;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .Works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    gap: 24px;
    margin-top: 30px;
    margin-bottom: 100px;
  }

  .work1 {
    background-image: url("/img/CardImage.png");
  }

  .work1 h2 {
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    padding: 130px 90px 0 30px;
  }

  .work1 p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 0 30px 0 0;
  }

  .work1 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    margin-left: 30px;
  }

  .work1 ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .work1 button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-top: 30px;
    background: #ff6b00;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .AboutMe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 24px;
    gap: 24px;
    background: #1c1a19;
    background-image: url("/img/About-us.png");
    background-repeat: no-repeat;
    background-position: bottom 1750px right 0;
  }

  .AboutMe title {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .AboutMe .title h1 {
    display: flex;
    padding-left: 30px;
    font-family: "Crete Round", sans-serif;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #ff6b00;
  }

  .AboutMe .title p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
  }

  .AboutMe .title button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background: #ff6b00;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    margin: 20px 0 0 30px;
  }

  .AboutMe hr {
    display: flex;
    width: 90%;
    margin: 20px auto;
    margin-top: 200px;
    border: 1px solid rgb(255, 255, 255);
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 24px;
    gap: 24px;
    width: 100%;
  }

  .AboutMe .skill .sub-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
  }

  .skill .sub-skill .shape {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
  }

  .shape h2 {
    font-family: "InaiMathi", sans-serif;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .sub-skill ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
    gap: 8px;
    list-style: none;
  }

  .sub-skill ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    text-align: center;
    color: #fff;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 327px;
    height: 216px;
    margin-bottom: 60px;
    margin-top: 150px;
  }

  .heading .ds-content {
    display: none;
  }

  .heading h2 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
    height: 330px;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  #contact-form input {
    height: 48px;
    width: 327px;
    border: none;
    color: #979493;
    border-bottom: solid 1px #dbd8d7;
  }

  #contact-form textarea {
    height: 114px;
    width: 327px;
    background: #fbf8f7;
    border: none;
    font-size: 15px;
    font-family: "inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
  }

  .submit {
    width: 131px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-left: 12px;
    margin-left: 100px;
    background: #ff6b00;
    color: #fff;
    border: none;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.03em;
  }

  .social-link {
    width: 375px;
    height: 72px;
    margin-top: 150px;
    margin-left: 50px;
  }

  .line-2 {
    height: 1px;
    color: #dfe1e6;
  }

  .f-Link {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    list-style: none;
    padding-left: 150px;
  }

  .socialmedia ul li:hover {
    background-color: #fff5e1;
    color: #f55800;
  }

  .socialmedia ul li:active {
    background-color: #f55800;
  }

  .socialmedia ul li:disabled {
    background-color: #f4f1f0;
  }

  .btn:hover {
    background-color: #fff5e1;
    color: #f55800;
  }

  .btn:active {
    background-color: #f55800;
  }

  .btn:disabled {
    background-color: #f4f1f0;
  }

  .submit:hover {
    background-color: #fff5e1;
    color: #f55800;
  }

  .submit:active {
    background-color: #f55800;
  }

  .submit:disabled {
    background-color: #f4f1f0;
  }
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3c3c3c;
    width: 100%;
    height: 72px;
  }

  .toolbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #title {
    display: flex;
    width: 15%;
  }

  .toolbar a {
    display: flex;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    align-items: center;
    text-align: center;
  }

  #toolbarimg {
    display: none;
  }

  .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5%;
    width: 55%;
    list-style: none;
  }

  .menu-list li a {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .headline {
    background-color: #1c1a19;
    width: 100%;
    height: 798px;
    display: flex;
    flex-direction: row;
  }

  .headline1 {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 60px;
  }

  .PrimaryText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
  }

  .PrimaryText h1 {
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  .PrimaryText .title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .PrimaryText p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #f4f5f7;
  }

  .socialmedia {
    display: flex;
    justify-content: center;
    width: 10%;
  }

  .socialmedia ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
  }

  .socialmedia ul li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
  }

  .col2 {
    display: flex;
    width: 50%;
    height: inherit;
    background-image: url("/img/ds-bg.png");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: top -65px right 0;
  }

  .RecentWorks {
    display: flex;
    flex-direction: column;
    background: #e5e5e5;
    width: 100%;
  }

  .RecentWorks .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
  }

  .title strong {
    display: flex;
    width: 25%;
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  hr {
    border: solid 1px #212121;
    width: 55%;
  }

  .MultipostStories {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 120px;
    gap: 20px;
  }

  .MultipostStories img {
    width: 45%;
    height: 448px;
  }

  .info {
    width: 33%;
    height: 348px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .info .MultipostStories-heading {
    display: flex;
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .info p {
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
  }

  .info ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    list-style: none;
  }

  .info ul li {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    background: #fff;
    border: solid 1px #8993a4;
  }

  .info button {
    width: 124px;
    height: 48px;
    padding: 12px;
    gap: 10px;
    background: #f55800;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .Works {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }

  #w1 {
    background-image: url("/img/Project.png");
    background-repeat: no-repeat;
    height: 435px;
  }

  #w1:hover {
    border: solid 2px #000;
  }

  .work1 .project {
    display: none;
  }

  #w2 {
    background-image: url("/img/Data.png");
    background-repeat: no-repeat;
    height: 435px;
  }

  #w2:hover {
    border: solid 1px #000;
  }

  .work1 span {
    display: none;
  }

  #w2 .work-title::after {
    content: "Data Dashboard Healthcare";
  }

  .work1 .btn {
    display: none;
  }

  #w3 {
    background-image: url("/img/Website.png");
    background-repeat: no-repeat;
    height: 435px;
  }

  #w3:hover {
    border: solid 2px #000;
  }

  #w3 .work-title::after {
    content: "Website Protfolio";
  }

  #w4 {
    background-image: url("/img/project2.png");
    background-repeat: no-repeat;
    height: 435px;
  }

  #w4:hover {
    border: solid 2px #000;
  }

  #w4 .work-title::after {
    content: "Profesional Art Printing Data More";
  }

  #w5 {
    background-image: url("/img/data2.png");
    background-repeat: no-repeat;
    height: 435px;
  }

  #w5:hover {
    border: solid 2px #000;
  }

  #w5 .work-title::after {
    content: "Data Dashboard Healthcare";
  }

  #w6 {
    background-image: url("/img/website2.png");
    background-repeat: no-repeat;
    height: 435px;
  }

  #w6:hover {
    border: solid 2px #000;
  }

  #w6 .work-title::after {
    content: "Website Protfolio";
  }

  .work1 {
    display: grid;
    margin-top: 10px;
    margin-bottom: 100px;
    width: 23%;
    gap: 5px;
  }

  .work1 h2 {
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin: 120px 0 0 30px;
  }

  .work1 p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    padding: 0 30px 0 30px;
  }

  .work1 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    padding: 0;
    gap: 12px;
    list-style: none;
  }

  .work1 ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .work1 button {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background: #ff6b00;
    width: 100%;
    height: 58px;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .AboutMe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #262626;
  }

  .AboutMe .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
  }

  .about-me-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    gap: 5%;
  }

  .about-me-content h1 {
    display: flex;
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  .about-me-content p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    width: 566px;
  }

  .about-me-content button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background: #f55800;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    width: 161px;
    height: 48px;
  }

  .about-me-img {
    display: flex;
    width: 50%;
    height: 352.38px;
    background-image: url("/img/about-me.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: top 0 right 0;
  }

  .about-me hr {
    display: flex;
    width: 78%;
    margin-top: 100px;
    border: 1px solid rgb(255, 255, 255);
  }

  .skill {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    gap: 5%;
  }

  .about-me .skill .sub-skill {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
  }

  .skill .sub-skill .shape {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
  }

  .shape h2 {
    font-family: "InaiMathi", sans-serif;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .sub-skill ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 12px;
    gap: 8px;
    list-style: none;
  }

  .sub-skill ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    text-align: center;
    color: #fff;
  }

  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .row1 {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    gap: 90px;
  }

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .heading .mb-content {
    display: none;
  }

  .heading .ds-content::after {
    display: flex;
  }

  .heading h2 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  #contact-form input {
    height: 48px;
    width: 584px;
    border: none;
    color: #979493;
    border-bottom: solid 1px #dbd8d7;
  }

  #contact-form textarea {
    height: 114px;
    width: 584px;
    background: #fbf8f7;
    border: none;
    font-size: 15px;
    font-family: "inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
  }

  .submit {
    width: 131px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-left: 12px;
    background: #ff6b00;
    color: #fff;
    border: none;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.03em;
  }

  .social-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;
  }

  .line-2 {
    display: flex;
    width: 100%;
    border: solid 1px #dfe1e6;
  }

  .f-Link {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    list-style: none;
  }

  .socialmedia ul li:hover {
    background-color: #f55800;
  }

  .socialmedia ul li:active {
    background-color: #fff5e1;
  }

  .socialmedia ul li:disabled {
    background-color: #f4f1f0;
  }

  .social-link ul li:hover {
    background-color: #f55800;
  }

  .social-link ul li:active {
    background-color: #fff5e1;
  }

  .social-link ul li:disabled {
    background-color: #f4f1f0;
  }

  button:hover {
    background-color: #fff5e1;
    color: #f55800;
  }

  button:active {
    background-color: #f55800;
  }

  button:disabled {
    background-color: #f4f1f0;
  }

  .show-button:hover + button {
    display: flex;
  }

  .submit:hover {
    background-color: #fff5e1;
    color: #f55800;
  }

  .submit:active {
    background-color: #f55800;
  }

  .submit:disabled {
    background-color: #f4f1f0;
  }
}
