.container {
  display: flex;
  flex-direction: column;
}

.AppBar {
  height: 92px;
  width: 375px;
  left: 0;
  top: 0;
  border-radius: 0;
  position: absolute;

  /* Theme 3 / Neutral 2 */

  background: #3c3a39;
  order: 1;
}

.StatusBar {
  height: 44px;
  width: 375px;
  top: 0;
  border-radius: 0;
  position: absolute;
  left: calc(50% - 375px / 2);
}

.ToolBar {
  height: 48px;
  width: 375px;
  left: 0;
  top: 44px;
  border-radius: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

.ToolBar img {
  height: 40px;
  width: 40px;
  left: 311px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  right: 24px;
  top: calc(50% - 40px / 2);
}

.Logo {
  height: 44px;
  width: 101px;
  left: 12px;
  border-radius: 0;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: calc(50% - 44px / 2);
}

.Logo a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 14px;

  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline {
  /* Headline */

  /* Auto layout */

  padding: 1px 24px;
  gap: 12px;
  position: absolute;
  width: 327px;
  height: 590px;
  left: 0;
  top: 92px;

  /* background */

  background: #1c1a19;
  background-image: url("/Images/Illustration.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 230px;
  order: 2;
}

.content {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.PrimaryText {
  /* Primary Text */

  left: 24px;
  top: 120px;
  border-radius: nullpx;
  width: 327px;
  height: 124px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;

  /* or 114% */

  letter-spacing: 0.37px;
  margin-bottom: 20px;
  color: #ff6b00;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.SupportingText {
  /* Supporting Text */
  height: 27px;
  width: 327px;
  left: 24px;
  top: 256px;
  border-radius: nullpx;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  /* or 133% */
  margin-bottom: 10px;

  /* Theme 3 / Primary 4 */

  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.discription {
  /* Description */

  width: 327px;
  height: 136px;

  /* Theme 1 / Body Reguler 2 */

  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;

  /* or 150% */

  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.SocialMedia {
  /* Social Media */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  width: 200px;
  height: 40px;
  gap: 10px;
  list-style: none;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.SocialMedia img {
  height: 24px;
  width: 24px;
  left: 8px;
  top: 8px;
  border-radius: 0;
}

.Works {
  display: grid;
  background-color: white;
  grid-template-columns: 24px 327px 24px;
  grid-template-rows: 107px 80px 500px 386px 386px 386px 386px 386px 386px;
  row-gap: 36px;
  padding: 120px 0;
  position: absolute;
  width: 375px;
  height: 3455px;
  left: 0;
  top: 682px;
}

.RecentWorks {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: flex-start;

  /* Theme 3 / Neutral 1 */

  color: #1c1a19;
  border-bottom: 1px solid #212121;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.RecentWorks h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.MultiPostStories {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.MultiPostStories h2 {
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  margin: 0;
}

.MultiPostStories p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #091e42;
}

.languageBoxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  gap: 5px;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  list-style: none;
}

.work1 p {
  width: 295px;
  height: 87px;

  /* Theme 3 / Body Reguler 2 */

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 16px;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.about p {
  width: 327px;
  height: 115px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.languageBoxes .box p {
  box-sizing: border-box;
  border: 1px solid #8993a4;
  display: flex;
  align-items: center;
  padding: 4px 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.MultiPostStories button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;

  /* Theme 3 / Primary 1 */

  background: #ff6b00;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

#w1 {
  grid-column: 2/3;
  grid-row: 4/5;
}

#w2 {
  grid-column: 2/3;
  grid-row: 5/6;
}

#w3 {
  grid-column: 2/3;
  grid-row: 6/7;
}

#w4 {
  grid-column: 2/3;
  grid-row: 7/8;
}

#w5 {
  grid-column: 2/3;
  grid-row: 8/9;
}

#w6 {
  grid-column: 2/3;
  grid-row: 9/10;
}

.work1 {
  background-image: url("/ImagesWorks/BG1.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.work1 h1 {
  width: 295px;
  height: 81px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 50px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.category {
  display: flex;
  gap: 10px;
  margin-top: 0;
  padding-right: 75px;
  padding-left: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.language1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.language2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.language3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.work1 button {
  width: 327px;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.AboutMe {
  position: absolute;
  width: 375px;
  height: 1901px;
  left: 0;
  top: 4137px;
  background: #1c1a19;
  background-image: url("/ImagesAboutMe/illustration-about-me-mobile.png");
  background-repeat: no-repeat;
  background-position-x: 215px;
  background-position-y: 384px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 24px;
}

.about h1 {
  /* Primary Text */

  width: 327px;
  height: 79px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  margin-bottom: 0;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about button {
  display: flex;
  align-items: center;
  padding: 12px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 24px;
  position: absolute;
  width: 300px;
  height: 1241.46px;
  top: 4797px;
  border-top: 1px solid white;
}

.languageHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 200px;
  height: 41.46px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.languageHeading h1 {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.kite {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  transform: rotate(-45deg);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.LanguageSkill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
}

.LanguageSkill li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.frameworkheading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 220px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frameworkheading img {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frameworkheading h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frameworkSkill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
}

.frameworkSkill li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.skillotherheading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 145px;
  height: 40px;
}

.skillotherheading img {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  border-radius: 150px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.skillotherheading h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  order: 1;
  flex-grow: 0;
}

.skilOther {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
}

.skilOther li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

button:disabled {
  background: #f4f1f0;
}

button:enabled {
  background: #f55800;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 58px;
  position: absolute;
  width: 375px;
  height: 844px;
  left: 0;
  top: 6038px;
}

.contact h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding-left: 24px;
  padding-right: 24px;
  width: 327px;
  height: 216px;
  text-align: center;

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.inputText {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding-bottom: 14px;
  padding-top: 14px;
  padding-right: 15px;
  padding-left: 15px;
  width: 325px;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  width: 375px;
  padding-left: 24px;
  padding-right: 24px;
  list-style: none;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.inputTextarea {
  height: 114px;
  width: 354px;
  background-color: #fbf8f7;
  border: none;
  margin-top: 24px;
  padding: 12px;
}

.contact-button {
  padding: 12px 12px;
  width: 131px;
  height: 48px;
  border: none;
  color: #fff;
}

.ContactForm li:last-child {
  align-self: center;
}

hr {
  background: #dbd8d7;
  width: 327px;
}

.footer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 375px;
  height: 72px;
  left: 0;
  top: 6886px;
  border-top: 1px solid #8993a4;
}

.footer .SocialMedia {
  align-items: center;
}
